body {
  align-items: center;
  background-color: #263238;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, sans-serif;
  justify-content: center;
  min-height: 100vh;
}
